*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    background-color: white;
}

.logo{
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    display: inline;
    vertical-align: middle;
    font-size: 2.5rem;
    font-weight: 800;
}

.container{
    max-width: 1020px;
    margin: 30px auto;
    background-color: white;
    border-radius: 5px;
}

.main-nav{
    padding: 10px 25px;
}

button{
    color: gray;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
}

ul{
    list-style:	none;
    list-style-position: inside;
    margin-bottom: 30px;
    line-height: 40px;
}

h2{
    display: inline;
}

.main-section{
    padding-top: 35px;
    padding-left: 25px;
}

.ul-symbol{
    font-size: 0.8rem;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

.tag{
    color: white;
    font-size: 0.7rem;
    border: none;
    border-radius: 13px;
    padding: 5px;
}

.ul-tri, h2{
    vertical-align: middle;
}

/* Utilities */

.separator{
    height: 3px;
    background-color: #F6F8F9;
}

.btn-blue{
    color: white;
    background-color: #1E90FF;
}

.symbol-green{
    color: green;
    border: 1px solid green;
}

.symbol-red{
    color: red;
    border: 1px solid red;
}

.bg-purple{
    background-color: #9C72E4;
}

.bg-acqua{
    background-color: #64C0A9;
}

.bg-orange{
    background-color: #F29E33;
}

.bg-green{
    background-color: #B0C926;
}

.bg-blue{
    background-color: #45ABEA;
}

.bg-pink{
    background-color: #D863A1;
}

.cursor{
    cursor: pointer;
}